@import url('https://unpkg.com/flatpickr/dist/flatpickr.min.css');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
@import './utilities/variables';
@import './template.css';

/*
    < GENERAL RULES >
*/

body {   
    overflow-x: hidden;
}

a.active,
a.active:hover {
    color: white !important;
    background: $success !important;
}

.btn > span {
    white-space: pre;
}

.toggle {
    padding-bottom: 16px;
}

.full-width {
    width: 100%;
}

.graph {
    position: relative;
}

svg {
    box-sizing: content-box;
}

.wait-message {
    position: absolute;
    margin: auto;
    top: 0; right: 0; bottom: 0; left: 0;
    
    padding-left: 60px;
    pointer-events: none;
    color: $dark;
    letter-spacing: 1px;
    text-align: center;
    height: 25px;
    font-weight: bold;
    font-size: 20px;
    transition: opacity .5s ease-in;
}

/*
    </ GENERAL RULES >
*/


/*
    < BITCOIN CURRENT PRICE >
*/

.count {
    transition: color 1s ease-in;
}

@keyframes blink {
    0%, 100% {
        color: #73879C;
    }
    50% {
        color: $info;
    }
}

.blinking {
    animation: blink 1s linear 0s normal infinite;
}


#bitcoin-current-price {
    h2 {
        margin-top: 25px;
    }
    @media screen and (max-width: 430px) {
      .tile_stats_count {
          width: 100%;
      }
    }
}

.count_bottom {
    font-style: italic;
}

/*
    </ BITCOIN CURRENT PRICE >
*/

/*
    < HISTORY GRAPH >
*/

#history {
    button.active {
        color: #E9EDEF;
        background-color: $dark;
        border-color: $dark_darker;
    }
    .btn-group {
        .btn {
            padding-left: 8px;
            padding-right: 8px;
        }
    }    
    @media screen and (max-width: 510px) {
        .btn-group {
            .btn {
                margin-top: 5px;
            }
        }
    }

    input:focus {
        background: inherit;
    }
    .tooltip {
        position: absolute;        
        width: 120px;
        height: auto;
        padding: 5px 10px;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
        pointer-events: none;
        font-family: sans-serif;
        font-size: 12px;
        h4, strong {
          margin-top: 2px;
          margin-bottom: 2px;
        }        
    }
}
/* < CURRENCY PAIR > */

// path[id^="graph-type"] {
//     transition: opacity .6s ease-in;
// }

#currency-pair {
    .form-control-feedback.fa-clock-o {
        margin-top: 6px;
    }
    
    .toggle-graphs {
        margin-top: 16px;
    
        .btn span.glyphicon {
            color: white;
        }
        .btn span.glyphicon {    			
            opacity: 0;				
        }
        .btn.active span.glyphicon {				
            opacity: 1;				
        }
    }
    .dropdown_container {
        display: inline-block;
    }
    input[name="hours"] {
        max-width: 200px;
    }
}


/* </ CURRENCY PAIR > */

/* < CRYPTOBOARD > */

#board-of-crypto-currencies {
    .table-filters {
        h4, .dropdown {
            display: inline-block;
        }
        h4 {
            margin-bottom:  3px;
            padding-right: 3px;
        }
        .dropdown-group {
            .dropdown_container {
                h4 {
                  display: block;                 
                }
            }       
            .dropdown_container {
                margin-left: 50px;
            }
            .dropdown_container:first-child {
                margin-left: 0;
            }
            #reset_dropdown-group {
                margin-left: 50px;
            }
            @media screen and (max-width: 720px) {                
                text-align: center;
                .dropdown_container {
                    margin-left: 0;
                }
                #reset_dropdown-group {
                    margin-left: 0;
                }
            }
        }
        .dropdown_container {
            display: inline-block;            
            min-width: 100px;
            margin-left: 25px;
        }
        .table-length {
            display: inline-block;
            margin-left: 50px;
            .btn-group {
                margin-bottom: 5px;
            }     
        }
        @media screen and (max-width: 570px) {
            .table-length, .dropdown_container {
                text-align: center;
                display: block;
                margin-left: 0;                        
            }
            #reset_dropdown-group {                    
                margin-top: 15px;
            }
        }
    }       
    .modal-window {        
        .btn-group_container {
            margin-top: 25px;
            h4 {
                margin-bottom: 5px;
            }
        }
        @media screen and (max-width: 560px) {
            .btn-group_container {
                .btn {
                    margin-top: 5px;
                }
            }
        }          
        .controll-group {         
            position: relative;
            right: 10px;
            margin-bottom: 10px;
        }
    }    
    button.active {
        color: white;
        background: $success;
        border: 1px solid $success_darker;
    }
    th {
        text-align: center;        
    }
    td {
        position: relative; 
        text-align: center;
        .btn {
            margin-top: 5px;
        }
        .btn:not(.active) {
            .fa-check {
                opacity: 0;
            }            
        }    
    }    
}

.modal-window {    
    overflow-y: hidden;
    transition: all .5s ease;
    max-height: 0;
    min-height: 0;
}

#word-length-tester {
    padding: 0;
    margin: 0;
    position: absolute;
    visibility: hidden;
    display: inline-block;
    font-weight: bold;
}

.legend {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 32px;
    font-size: 16px;
}

.arc, 
.col rect {
    transition: opacity .5s ease-in;
}

.arc:hover,
.col:hover {
    cursor: pointer;
}

.legend_item {
    min-width: 10%;
}

.legend_item:hover {
    cursor: pointer;
    font-weight: bold;
}

.square {
    display: inline-block;
    width: 15px;
    height: 15px;
}


.legend_item span:last-child {
    margin-left: 10px;
    margin-right: 5px;
}

/* </ CRYPTOBOARD > */

/* < SETTINGS PAGE >  */

#component-display {
    span.title {
        font-size: 24px;
    }
    .btn {
      min-width: 52px;
    }
}

/* </ SETTINGS PAGE >  */