@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import "../../node_modules/flatpickr/dist/flatpickr.min.css";
@import "../../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "./utilities/variables";
@import "./template.css";
@import "../../node_modules/font-awesome/css/font-awesome.min.css";

/*
    < GENERAL RULES >
*/

.left_col {    
    transition: all .3s ease-out;
}

.right_col {
    transition: margin-left .3s ease-out;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    overflow-x: hidden;
    overflow-y: scroll;
}

a.active,
a.active:hover {
    color: white !important;
    background: $success !important;
}

.btn > span {
    white-space: pre;
}

.input-group {
    margin-bottom: 0;
    input, span {
        transition: border-color 250ms linear !important;
    }
    input:focus {
        border-color: $success_darker !important;
    }
}

.component-title {
    h2 {
        font-size: 30px;
        float: none;
        @media screen and (max-width: 768px) {    
            width: 100% !important;
            text-align: center;            
        }
        @media screen and (max-width: 500px) {
            font-size: 25px;
        }
    }
}

.toggle {
    padding-bottom: 16px;
}

.full-width {
    width: 100%;
}

.graph-container {
    height: 300px;
    overflow-x: auto;
    overflow-y: hidden;
    float: none;
}
.graph {
    position: relative;
    zoom: 100% !important;
    width: 500px;
    height: 300px;
    @media screen and (max-width: 500px) {
        width: 90%;
        overflow-x: scroll;
        overflow-y: hidden;
    }
}

svg {
    box-sizing: content-box;
}

.InputFormContainer {
    position: relative;
}

.message {
    position: absolute;
    margin: auto;
    top: 0; bottom: 0; left: 0;
    right: auto;
        
    width: 500px;
    pointer-events: none;
    color: $dark;
    letter-spacing: 1px;
    text-align: center;
    height: 25px;
    font-weight: bold;
    font-size: 20px;
    opacity: 0;
    transition: opacity .5s ease-in;
}

.message.error {
    color: $danger;
    font-size: 12px;
    position: static;
    padding-top: 10px;
    margin-left: 10px;
    text-align: left;

}

/*
    </ GENERAL RULES >
*/

/*
    < BITCOIN CURRENT PRICE >
*/

.count {
    transition: color 1s ease-in;
}

@keyframes blink {
    0%, 100% {
        color: #73879C;
    }
    50% {
        color: $info;
    }
}

.blinking {
    animation: blink 1s linear 0s normal infinite;
}

#bitcoin-current-price {
    h2 {
        margin-top: 25px;
    }
    .count {
        overflow-x: hidden;
    }
    @media screen and (max-width: 1020px) {
        .current-price-bar,
        h2 {
            margin-top: 10px;
        }
    }
    .tile_stats_count {
        margin-bottom: 0;
        padding-bottom: 0;
    }
    .count_bottom {
        font-style: italic;
        font-weight: bold;
    }
    @media screen and (max-width: 1200px) {
        .count {
            font-size: 32px;
        }
    }    
    @media screen and  (max-width: 800px) {
        margin-left: auto;
        margin-right: auto;             
    }
    @media screen and (max-width: 500px) {
        text-align: center;        
        header {
            border-bottom: 1px solid #E6E9ED;
        }
        .tile_stats_count {                           
            margin-top: 25px;
            width: 100%;
        }        
    }
}

/*
    </ BITCOIN CURRENT PRICE >
*/

/*
    < HISTORY GRAPH >
*/

#history {
    button.active {
        color: #E9EDEF;
        background-color: $dark;
        border-color: $dark_darker;
    }
    .btn-group {
        .btn {
            transition: background-color .15s ease-in;
            padding-left: 8px;
            padding-right: 8px;
        }
    }    
    @media screen and (max-width: 768px) {
        text-align: center;
    }
    @media screen and (max-width: 550px) {
        .InputFormContainer {
            text-align: center;
            padding-left: 0;
        }
        .input-group {
            margin-left: 5%;
        }        
        .calendar-wrapper {
            width: 100%;
            .calendar-date {                
                &:last-child {
                    margin-top: 10px !important;                    
                }                
            }
        }
    }
    @media screen and  (max-width: 800px) {
        margin-left: auto;
        margin-right: auto;             
    }
    @media screen and (max-width: 500px) {             
        .btn-group {
            .btn {
                margin-top: 1px;
                margin-left: 16.5%; // 66.6 / 4 
                width: 66.6%;                
            }
        }
    }
    input {
        transition: background-color 200ms ease-in;
    }
    .tooltip {
        position: absolute;
        width: 120px;
        height: auto;
        padding: 5px 10px;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
        pointer-events: none;
        font-family: sans-serif;
        font-size: 12px;
        h4, strong {
          margin-top: 2px;
          margin-bottom: 2px;
        }        
    }
}


/* < CURRENCY PAIR > */

#currency-pair {
    .message.error {
        text-align: left;
        padding-left: 5%;
    }
    .form-control-feedback.fa-clock-o {
        margin-top: 6px;
    }
    .InputFormContainer {
        margin-bottom: -4px;
        text-align: left;
        padding-left: 10px;
        .input-group-addon, .input-group-btn {
            width: inherit;
        }
    }
    .control-group {
        display: inline-block !important;
    }
    .toggle-graphs {
        margin-top: 16px;
    
        .btn span.glyphicon {
            color: white;
        }
        .btn span.glyphicon {
            display: none;
        }
        .btn.active span.glyphicon {
            display: inline;
        }
        @media screen and (max-width: 400px) {
            .btn {
                margin-top: 1px;
                margin-left: 16.5%;
                width: 66.6%;
            }
        }
    }
    .dropdown_container {
        display: inline-block;
    }
    input[name="hours"] {
        max-width: 200px;
    }  
    @media screen and  (max-width: 800px) {
        margin-left: auto;
        margin-right: auto;             
    }
    @media screen and (max-width: 500px) {
        text-align: center;
        .InputFormContainer {
            text-align: center;
            padding-left: 0;
        }
    }
    @media screen and (max-width: 400px) {
        .form-control {
            width: 100px !important;
        }
    }
}

/* </ CURRENCY PAIR > */

/* < CRYPTOBOARD > */

@keyframes spin {
    0% { -webkit-transform:rotate(0deg); }
    100% { -webkit-transform:rotate(360deg); }
}

.cube-preloader {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 40px;
    margin: -42px 0 0 -12px;
    background: $success_darker;
    transform: rotate(45deg);
    animation: spin 1s infinite cubic-bezier(0,.58,.63,.19);
}

.preloader-wrapper {
    position: relative;
    width: auto;
    height: auto;
    z-index: 0;
}

.preloader-wrapper__bg-cover {
    width: 100%;
    height: 100%;    
    position: absolute;
    z-index: 1;
    background:rgb(96, 96, 96); // fallback
    background: linear-gradient(
        rgba(0, 0, 0, 0.25), 
        rgba(0, 0, 0, 0.25)
    );
}


#board-of-crypto-currencies {
    #reset-filters {
        display: block;
        margin: 0 auto;
    }
    .table-responsive {
        max-height: 90vh;
        overflow-y: auto !important;               
    }
    table  {
        th[data-sort-by]:hover {
            color: $info_darker;
            cursor: pointer;
            text-decoration: underline;
        }
    }
    tbody {
        tr {
            transition: background-color 100ms ease-in;
        }
        tr:hover {
            background: lighten($success, 50%);
        }
    }
    th {
        position: relative;
        text-align: center;
       
        .fa-sort-asc,
        .fa-sort-desc {
            position: relative;
            right: 5px;
        }

        .fa-sort-asc {
            color: $success_darker;
        }
        
        .fa-sort-desc {
            color: $danger;
        }
    }
    td {
        position: relative; 
        text-align: center;
        vertical-align: middle;
        .btn {         
            margin-top: 5px;
            span.fa {
                display: inline-block;
            }
        }
        .btn:not(.active) {
            .fa-check {
                opacity: 0;
            }
        }
    }
    .table-filters {
        div:last-child { 
            // row is not applied to the last element
            // -> it appears smaller than the previous one
            margin-right: -10px;
            margin-left: -10px;
        }
        h4, .dropdown {
            display: inline-block;
        }
        h4 {
            margin-bottom:  3px;
            padding-right: 3px;        
        }

        .dropdown-group {
            text-align: center;
            .dropdown_container, 
            .reset-btn-container {
                h4 {
                  display: block;                 
                }
            }
            @media screen and (max-width: 500px) {                
                .dropdown_container,
                .reset-btn-container {
                    width: 100%;
                    h4 {
                        font-size: 20px;
                    }
                    .btn { // just a copy of btn-lg styling
                        padding: 10px 16px;
                        font-size: 18px;
                        line-height: 1.3333333;
                        border-radius: 6px;    
                    }
                }
            }
        }

        .well {
            text-align: center !important;
        }
        .table-currency-filter,
        .table-length-filter {
            text-align: center;
            display: inline-block;            
            h4 {
                display: block;
            }
            .btn-group {
                margin-bottom: 5px;            
            }
        }        
        .table-length-filter {
            margin-left: 50px;
        }
        .table-currency-filter {
            margin-right: 50px;            
        }        
        @media screen and (max-width: 570px) {
            .table-currency-filter,
            .table-length-filter {
                display: block;
                h4 {
                    font-size: 20px;
                }
                .btn {
                    padding: 10px 16px;
                    font-size: 18px;
                    line-height: 1.3333333;
                    border-radius: 6px;    
                    &:first-child {
                        border-top-right-radius: 0px;
                        border-bottom-right-radius: 0px;
                    }
                    &:last-child {
                        border-top-left-radius: 0px;
                        border-bottom-left-radius: 0px;
                    }                   
                }
            }
            .table-currency-filter {
                margin-right: 0;
            }
            .table-length-filter {
                margin-left: 0;
            }
        }
        
    }
    .modal-window {
        overflow: hidden;
        transition: all .5s ease;
        max-height: 0;
        min-height: 0;
        div:first-child {
            margin-right: -10px;
            margin-left: -10px;
        }
        .dropdown_chart-currency {
            .dropdown-menu {
                width: 100%;
            }            
        }
        .graph-container, .graph {
            height: auto;
            max-height: 300px;
        }
        .btn-group_container {
            margin-top: 25px;
            h4 {
                margin-bottom: 5px;
            }
        }             
        .controll-group {         
            position: relative;
            right: 10px;
            margin-bottom: 10px;
        }        
    }
    #modal-button {
        margin-bottom: 10px;
    }
    button.active {
        color: white;
        background: $success;
        border: 1px solid $success_darker;
    }
    @media screen and (max-width: 720px) {
        text-align: center;     
    }
    @media screen and (max-width: 660px) {
        .modal-window {
            .btn-group_container {
                max-width: 395px;
                margin: 20px auto 0;
                padding: 10px 0;
                .btn {
                    border-radius: 0;
                    width: 33.3333%;
                }
            }
        }
    }
    @media screen and (max-width: 570px) {
        .table-filters {
            .table-length-filter {
                text-align: center;
                display: block;                
            }
            h4 {
                display: block;
            }
        }
    }
    @media screen and (max-width: 500px) {
        text-align: center;
        margin-left: auto;
        margin-right: auto;             
        #modal-button {
            padding: 8px 14px;
            font-size: 16px;
        }
        .modal-window {          
            .graph-container {
                height: auto;
                max-height: 300px;
            }  
            .graph {                                
                overflow-y: auto;
            }

            .btn-group_container,
            .controll-group {
                .btn {
                    margin-top: 1px;                    
                    width: 66.6%;
                }
            }
            .btn-group_container {
                .btn {
                    margin-left: 16.5%; // 66.6 / 4 
                }
            }
            .controll-group {
                right: 0;
                margin: 0 auto 15px;
                .btn {
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        } 
    }
}

#word-length-tester {
    padding: 0;    
    margin: 0;
    opacity: 0;
    left: 0;
    position: absolute;
    pointer-events: none;
    display: inline-block;
    font-weight: bold;
}

.legend {
    max-width: 720px;
    //margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 32px;
    font-size: 16px;
    @media screen and (max-width: 500px) {      
        padding-left: 20px;  
        display: block;
        text-align: left;
    }
}

.legend_item {
    min-width: 10%;    
}

.legend_item:hover {
    cursor: pointer;
    font-weight: bold;
}

.legend_item span:last-child {
    margin-left: 10px;
    margin-right: 5px;
}

.arc, 
.bar rect {
    transition: opacity .5s ease-in;
}

.arc:hover,
.bar rect:hover {
    cursor: pointer;
}

.square {
    display: inline-block;
    width: 15px;
    height: 15px;
}

/* </ CRYPTOBOARD > */

/* < SETTINGS PAGE >  */

#settings {
    height: 100%;
    .checkbox-component {
        margin-left: 25px;
    }
    span.title {
        font-size: 24px;
    }
    .btn {
      min-width: 52px;
    }
    .x_panel {
        padding-top: 17px;
        padding-bottom: 17px;
    }
    .clear-all-btn-container {
       margin-left: 25px;
       margin-top: 5px;
    }
    @media screen and (max-width: 650px) {  
        h2 {
            text-align: center;
            line-height: 40px;            
        }
        .checkbox-component {
            margin-left: 0;
            margin-bottom: 25px;
            text-align: center;
            button, span {                
                display: block;
            }
            button {
                width: 33.3%;
                margin-left: auto;
                margin-right: auto;
            }
        }
        #component-display div:last-child > .checkbox-component {
            margin-bottom: 0px;
        }
        #filter-settings {
            .checkbox-component {
                margin-top: 25px;
            }
        }
        .clear-all-btn-container {
            margin-left: 0;
            text-align: center;
        }
    }
    @media screen and (max-width: 400px) {
        span.title {
            font-size: 22px;
        }
    }
}

/* </ SETTINGS PAGE >  */

/* < GALLERY > */

.component-main-title {
    text-align: center;
    padding: 15px 0;
}

#saved-graphs {
    .graph-container {        
        height: auto;
        min-width: 500px;
        min-height: 300px;
    }
    min-height: 100vh;
    p {
        font-size: 18px;
    }
    a {
        color: $info_darker;
        margin-left: 50px;
    }
    a:hover {
        color: $info;
    }
    .x_panel {
        text-align: right;        
    }
    .x_panel:first-child {
        margin-top: 25px;
    }
    .fa-times {
        display: inline;
        margin: 10px 10px 0 0;
        transition: color 200ms ease-in-out;
    }
    .fa-times:hover {
        cursor: pointer;
        color: $danger;
    }
    @media screen and (max-width: 500px) {
        .x_panel {            
            overflow: scroll;
            text-align: left;
        }
    }
}

// POP UP



/* </ GALLERY > */

